version: '3.9'
services:
  postgres_db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: apiuser
      POSTGRES_PASSWORD: api123
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data